body {
    background-color: rgb(28, 28, 42) !important;
}
.navbar {
    background-color: rgb(28, 28, 42);
}
.offcanvas {
    background-color: rgb(28, 28, 42) !important;
    width: 100% !important;
    color: aliceblue !important;
}
/* .offcanvas form {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
}
.offcanvas input {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.offcanvas input::placeholder {
    color: rgba(122, 195, 229, 0.698);
} */
.navbar-brand img{
    margin-left: 80px;
}
.nav-link {
    color: white !important;
    font-size: 18px !important;
}
.nav-link span {
    color: rgb(122, 195, 229);
}
#changeLang {
    margin-right: 80px;
}
h1 {
    color: rgb(210, 101, 137);
    padding-top: 200px;
    white-space: nowrap;
    font-size: 30px !important;
}
.hero {
    margin: 100px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
.generalHead {
    margin-left: 100px;
}

.hero .btn {
    padding: 10px;
    background-color: aquamarine;
}
.generalHead p {
    color: white;
    padding: 15px 0;
}
#about {
    background-color: rgb(195, 211, 226);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
#skills {
    color: rgb(118, 213, 230);
    margin: 120px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
}
.skillImg {
    width: 120px;
    padding: 10px;
}
.skillImg:hover {
    scale: 150%;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 10px;
}
.skills {
    width: 60%;
}
.skills h3 {
    padding-bottom: 30px;
}
.btnTechnology {
    background-color: none;
    border: none;
}
#skills h2 {
    color: white;
    font-size: 60px !important;
    line-height: 1;
    padding-bottom: 50px;
}
#skills p {
    padding: 25px;
}
.experience {
    margin-top: 200px;
    margin-left: 150px;
}
.experience li a {
    color: rgb(118, 213, 230);
}
#portfolio {
    background-color: rgb(195, 211, 226);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
#portfolio h2 {
    font-size: 60px !important;
    padding-bottom: 20px;
}
#portfolio h4 {
    padding: 25px;
}
.firstProj {
    padding: 40px;
    width: 50%;
}
.projBtn {
    background-color: rgb(236, 141, 219);
    border-radius: 30px;
    padding: 15px;
    padding-bottom: 20px;
    margin: 8px;
    border: 1px solid palevioletred;
}
.secondProj {
    padding: 50px;
    width: 50%;

}
.thirdProj {
    padding-top: 50px;
}
.projImg {
    padding: 5px;
    border-radius: 25px;
}
.projText {
    padding-top: 25px;
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}
.projText a {
    text-decoration: none;
    color: palevioletred;
}